/viikko01-Viikko01Tehtava7/build/
/viikko01-Viikko01Tehtava7/nbproject/private/
/Kolikkoyhdistelmat/nbproject/private/
/viikko03-Viikko03Tehtava6/build/
/viikko03-Viikko03Tehtava6/nbproject/private/
/Bussipysakit/nbproject/private/
/Bussipysakit/build/