/viikko01-Viikko01Tehtava7/build/
/viikko01-Viikko01Tehtava7/nbproject/private/
/Kolikkoyhdistelmat/nbproject/private/
/viikko03-Viikko03Tehtava6/build/
/viikko03-Viikko03Tehtava6/nbproject/private/
/Bussipysakit/nbproject/private/
/Bussipysakit/build/
/viikko03-Viikko03Tehtava7/build/
/viikko03-Viikko03Tehtava7/nbproject/private/
/Inversiot/nbproject/private/
/Inversiot/build/
/viikko04-Viikko04Tehtava6/build/
/viikko04-Viikko04Tehtava6/nbproject/private/
/Ovimies/nbproject/private/
/Ovimies/build/
/viikko04-Viikko04Tehtava5/build/
/viikko04-Viikko04Tehtava5/nbproject/private/
/ListanLyhennys/nbproject/private/
/ListanLyhennys/build/
/viikko05-Viikko05Tehtava5/build/
/viikko05-Viikko05Tehtava5/nbproject/private/
/HatutJaPallot/nbproject/private/
/HatutJaPallot/build/
/viikko05-Viikko05Tehtava6/build/
/viikko05-Viikko05Tehtava6/nbproject/private/
/Anagrammit/nbproject/private/
/Anagrammit/build/
/viikko06-Viikko06Tehtava7/build/
/viikko06-Viikko06Tehtava7/nbproject/private/
/PistejoukkoSuoralla/nbproject/private/
/PistejoukkoSuoralla/build/
/viikko06-Viikko06Tehtava8/build/
/viikko06-Viikko06Tehtava8/nbproject/private/
/Hotellihuoneet/nbproject/private/
/Hotellihuoneet/build/
/viikko07-Viikko07Tehtava7/build/
/viikko07-Viikko07Tehtava7/nbproject/private/
/Mediaani/nbproject/private/
/Mediaani/build/
/viikko07-Viikko07Tehtava5/build/
/viikko07-Viikko07Tehtava5/nbproject/private/
/Valmistumisajat/nbproject/private/
/Valmistumisajat/build/
/viikko07-Viikko07Tehtava6/build/
/viikko07-Viikko07Tehtava6/nbproject/private/
/LaskeLuku235/nbproject/private/
/LaskeLuku235/build/
/Kauppamatkustaja/nbproject/private/
/Kauppamatkustaja/build/
/viikko08-Viikko08Tehtava5/nbproject/private/
/Sudoku/nbproject/private/
/Sudoku/build/
/viikko08-Viikko08Tehtava6/build/
/viikko08-Viikko08Tehtava6/nbproject/private/
/Nopanheitot/nbproject/private/
/Nopanheitot/build/
/viikko08-Viikko08Tehtava7/build/
/viikko08-Viikko08Tehtava7/nbproject/private/
/Kanansiivet/nbproject/private/
/Kanansiivet/build/
/viikko09-Viikko09Tehtava4/build/
/viikko09-Viikko09Tehtava4/nbproject/private/
/HuoneidenLukumaara/nbproject/private/
/HuoneidenLukumaara/build/
/viikko09-Viikko09Tehtava5/build/
/viikko09-Viikko09Tehtava5/nbproject/private/
/OnkoReitti/nbproject/private/
/OnkoReitti/build/
/viikko09-Viikko09Tehtava6/build/
/viikko09-Viikko09Tehtava6/nbproject/private/
/LyhinReitti/nbproject/private/
/LyhinReitti/build/