/viikko01-Viikko01Tehtava7/build/
/viikko01-Viikko01Tehtava7/nbproject/private/
/Kolikkoyhdistelmat/nbproject/private/
/viikko03-Viikko03Tehtava6/build/
/viikko03-Viikko03Tehtava6/nbproject/private/
/Bussipysakit/nbproject/private/
/Bussipysakit/build/
/viikko03-Viikko03Tehtava7/build/
/viikko03-Viikko03Tehtava7/nbproject/private/
/Inversiot/nbproject/private/
/Inversiot/build/
/viikko04-Viikko04Tehtava6/build/
/viikko04-Viikko04Tehtava6/nbproject/private/
/Ovimies/nbproject/private/
/Ovimies/build/
/viikko04-Viikko04Tehtava5/build/
/viikko04-Viikko04Tehtava5/nbproject/private/
/ListanLyhennys/nbproject/private/
/ListanLyhennys/build/
/viikko05-Viikko05Tehtava5/build/
/viikko05-Viikko05Tehtava5/nbproject/private/
/HatutJaPallot/nbproject/private/
/HatutJaPallot/build/
/viikko05-Viikko05Tehtava6/build/
/viikko05-Viikko05Tehtava6/nbproject/private/
/Anagrammit/nbproject/private/
/Anagrammit/build/
/viikko06-Viikko06Tehtava7/build/
/viikko06-Viikko06Tehtava7/nbproject/private/
/PistejoukkoSuoralla/nbproject/private/
/PistejoukkoSuoralla/build/
/viikko06-Viikko06Tehtava8/build/
/viikko06-Viikko06Tehtava8/nbproject/private/
/Hotellihuoneet/nbproject/private/
/Hotellihuoneet/build/
/viikko07-Viikko07Tehtava7/build/
/viikko07-Viikko07Tehtava7/nbproject/private/
/Mediaani/nbproject/private/
/Mediaani/build/
/viikko07-Viikko07Tehtava5/build/
/viikko07-Viikko07Tehtava5/nbproject/private/
/Valmistumisajat/nbproject/private/
/Valmistumisajat/build/
/viikko07-Viikko07Tehtava6/build/
/viikko07-Viikko07Tehtava6/nbproject/private/
/LaskeLuku235/nbproject/private/
/LaskeLuku235/build/
/Kauppamatkustaja/nbproject/private/
/Kauppamatkustaja/build/
/viikko08-Viikko08Tehtava5/nbproject/private/
/Sudoku/nbproject/private/
/Sudoku/build/
/viikko08-Viikko08Tehtava6/build/
/viikko08-Viikko08Tehtava6/nbproject/private/
/Nopanheitot/nbproject/private/
/Nopanheitot/build/
/viikko08-Viikko08Tehtava7/build/
/viikko08-Viikko08Tehtava7/nbproject/private/
/Kanansiivet/nbproject/private/
/Kanansiivet/build/
/viikko09-Viikko09Tehtava4/build/
/viikko09-Viikko09Tehtava4/nbproject/private/
/HuoneidenLukumaara/nbproject/private/
/HuoneidenLukumaara/build/
/viikko09-Viikko09Tehtava5/build/
/viikko09-Viikko09Tehtava5/nbproject/private/
/OnkoReitti/nbproject/private/
/OnkoReitti/build/
/viikko09-Viikko09Tehtava6/build/
/viikko09-Viikko09Tehtava6/nbproject/private/
/LyhinReitti/nbproject/private/
/LyhinReitti/build/
/LyhinReittiLabyrintti/nbproject/private/
/LyhinReittiLabyrintti/build/
/viikko10-Viikko10Tehtava4/build/
/viikko10-Viikko10Tehtava4/nbproject/private/
/LyhinReittiTieverkosto/nbproject/private/
/LyhinReittiTieverkosto/build/
/viikko09-Viikko09Tehtava7/build/
/viikko09-Viikko09Tehtava7/nbproject/private/
/KuinkaMontaLyhintaReittia/nbproject/private/
/KuinkaMontaLyhintaReittia/build/
/viikko10-Viikko10Tehtava6/build/
/viikko10-Viikko10Tehtava6/nbproject/private/
/ToipuminenKyberhyokkayksesta/nbproject/private/
/ToipuminenKyberhyokkayksesta/build/
/viikko11-Viikko11Tehtava6/build/
/viikko11-Viikko11Tehtava6/nbproject/private/
/Kolikkopeli/nbproject/private/
/Kolikkopeli/build/
/viikko11-Viikko11Tehtava7/build/
/viikko11-Viikko11Tehtava7/nbproject/private/
/EhytLentoverkko/nbproject/private/
/EhytLentoverkko/build/
/viikko12-Viikko12Tehtava5/nbproject/private/
/SuurinVerkko/nbproject/private/
/SuurinVerkko/build/
/Sudoku/viikko12-Viikko12Tehtava6/nbproject/private/
/viikko12-Viikko12Tehtava6/nbproject/private/
/TeidenKunnostus/nbproject/private/
/TeidenKunnostus/build/
/SuurinVerkko – kopio/build/
/SuurinVerkko – kopio/nbproject/private/
/viikko12-Viikko12Tehtava7/build/
/viikko12-Viikko12Tehtava7/nbproject/private/
/OrkitJaHaltiat/nbproject/private/
/OrkitJaHaltiat/build/
/Viikko13Tehtava4/nbproject/private/
/Tiedonsiirtonopeudet/nbproject/private/
/Tanssiparit/nbproject/private/
/Kolikkoruudukko/nbproject/private/
/Jakokohdat/nbproject/private/
/Pinolaskin/nbproject/private/
/1-TEHT/Piirileikki/build/
/1-TEHT/Piirileikki/nbproject/private/
/1-TEHT/Kolikkoyhdistelmat/nbproject/private/
/1-TEHT/Inversiot/build/
/1-TEHT/Inversiot/nbproject/private/
/1-TEHT/Jakokohdat/nbproject/private/
/1-TEHT/Pinolaskin/nbproject/private/
/1-TEHT/ListanLyhennys/build/
/1-TEHT/ListanLyhennys/nbproject/private/
/1-TEHT/Ovimies/build/
/1-TEHT/Ovimies/nbproject/private/
/1-TEHT/HatutJaPallot/build/
/1-TEHT/HatutJaPallot/nbproject/private/
/1-TEHT/Anagrammit/build/
/1-TEHT/Anagrammit/nbproject/private/
/1-TEHT/PistejoukkoSuoralla/build/
/1-TEHT/PistejoukkoSuoralla/nbproject/private/
/1-TEHT/Hotellihuoneet/build/
/1-TEHT/Hotellihuoneet/nbproject/private/
/1-TEHT/Valmistumisajat/build/
/1-TEHT/Valmistumisajat/nbproject/private/
/1-TEHT/LaskeLuku235/build/
/1-TEHT/LaskeLuku235/nbproject/private/
/1-TEHT/Mediaani/build/
/1-TEHT/Mediaani/nbproject/private/
/1-TEHT/Kauppamatkustaja/build/
/1-TEHT/Kauppamatkustaja/nbproject/private/
/1-TEHT/Sudoku/build/
/1-TEHT/Sudoku/nbproject/private/
/1-TEHT/Nopanheitot/build/
/1-TEHT/Nopanheitot/nbproject/private/
/1-TEHT/Kanansiivet/build/
/1-TEHT/Kanansiivet/nbproject/private/
/1-TEHT/HuoneidenLukumaara/build/
/1-TEHT/HuoneidenLukumaara/nbproject/private/
/1-TEHT/OnkoReitti/build/
/1-TEHT/OnkoReitti/nbproject/private/
/1-TEHT/LyhinReittiLabyrintti/build/
/1-TEHT/LyhinReittiLabyrintti/nbproject/private/
/1-TEHT/KuinkaMontaLyhintaReittia/build/
/1-TEHT/KuinkaMontaLyhintaReittia/nbproject/private/
/1-TEHT/LyhinReittiTieverkosto/build/
/1-TEHT/LyhinReittiTieverkosto/nbproject/private/
/1-TEHT/ToipuminenKyberhyokkayksesta/build/
/1-TEHT/ToipuminenKyberhyokkayksesta/nbproject/private/
/1-TEHT/Kolikkopeli/build/
/1-TEHT/Kolikkopeli/nbproject/private/
/1-TEHT/SuurinVerkko/build/
/1-TEHT/SuurinVerkko/nbproject/private/
/1-TEHT/TeidenKunnostus/build/
/1-TEHT/TeidenKunnostus/nbproject/private/
/1-TEHT/OrkitJaHaltiat/build/
/1-TEHT/OrkitJaHaltiat/nbproject/private/
/1-TEHT/Tiedonsiirtonopeudet/nbproject/private/
/1-TEHT/Tanssiparit/nbproject/private/
/1-TEHT/Kolikkoruudukko/nbproject/private/
/TEHT/Anagrammit/build/
/TEHT/Anagrammit/nbproject/private
/TEHT/HatutJaPallot/build
/TEHT/HatutJaPallot/nbproject/private
/TEHT/Hotellihuoneet/build
/TEHT/Hotellihuoneet/nbproject/private
/TEHT/HuoneidenLukumaara/build
/TEHT/HuoneidenLukumaara/nbproject/private
/TEHT/Inversiot/build
/TEHT/Inversiot/nbproject/private
/TEHT/Jakokohdat/nbproject/private
/TEHT/Kanansiivet/build
/TEHT/Kanansiivet/nbproject/private
/TEHT/Kauppamatkustaja/build
/TEHT/Kauppamatkustaja/nbproject/private
/TEHT/Kolikkopeli/build
/TEHT/Kolikkopeli/nbproject/private
/TEHT/Kolikkoruudukko/nbproject/private
/TEHTAVAT/Anagrammit/build/
/TEHTAVAT/Anagrammit/nbproject/private/
/TEHTAVAT/HatutJaPallot/build/
/TEHTAVAT/HatutJaPallot/nbproject/private/
/TEHTAVAT/Hotellihuoneet/build/
/TEHTAVAT/Hotellihuoneet/nbproject/private/
/TEHTAVAT/HuoneidenLukumaara/build/
/TEHTAVAT/HuoneidenLukumaara/nbproject/private/
/TEHTAVAT/Inversiot/build/
/TEHTAVAT/Inversiot/nbproject/private/
/TEHTAVAT/Jakokohdat/nbproject/private/
/TEHTAVAT/Kanansiivet/build/
/TEHTAVAT/Kanansiivet/nbproject/private/
/TEHTAVAT/Kauppamatkustaja/build/
/TEHTAVAT/Kauppamatkustaja/nbproject/private/
/TEHTAVAT/Kolikkopeli/build/
/TEHTAVAT/Kolikkopeli/nbproject/private/
/TEHTAVAT/Kolikkoruudukko/nbproject/private/
/TEHTAVAT/Kolikkoyhdistelmat/nbproject/private/
/TEHTAVAT/KuinkaMontaLyhintaReittia/build/
/TEHTAVAT/KuinkaMontaLyhintaReittia/nbproject/private/
/TEHTAVAT/LaskeLuku235/build/
/TEHTAVAT/LaskeLuku235/nbproject/private/
/TEHTAVAT/ListanLyhennys/build/
/TEHTAVAT/ListanLyhennys/nbproject/private/
/TEHTAVAT/LyhinReittiLabyrintti/build/
/TEHTAVAT/LyhinReittiLabyrintti/nbproject/private/
/TEHTAVAT/LyhinReittiTieverkosto/build/
/TEHTAVAT/LyhinReittiTieverkosto/nbproject/private/
/TEHTAVAT/Mediaani/build/
/TEHTAVAT/Mediaani/nbproject/private/
/TEHTAVAT/Nopanheitot/build/
/TEHTAVAT/Nopanheitot/nbproject/private/
/TEHTAVAT/OnkoReitti/build/
/TEHTAVAT/OnkoReitti/nbproject/private/
/TEHTAVAT/OrkitJaHaltiat/build/
/TEHTAVAT/OrkitJaHaltiat/nbproject/private/
/TEHTAVAT/Ovimies/build/
/TEHTAVAT/Ovimies/nbproject/private/
/TEHTAVAT/Piirileikki/build/
/TEHTAVAT/Piirileikki/nbproject/private/
/TEHTAVAT/Pinolaskin/nbproject/private/
/TEHTAVAT/PistejoukkoSuoralla/build/
/TEHTAVAT/PistejoukkoSuoralla/nbproject/private/
/TEHTAVAT/Sudoku/build/
/TEHTAVAT/Sudoku/nbproject/private/
/TEHTAVAT/SuurinVerkko/build/
/TEHTAVAT/SuurinVerkko/nbproject/private/
/TEHTAVAT/Tanssiparit/nbproject/private/
/TEHTAVAT/TeidenKunnostus/build/
/TEHTAVAT/TeidenKunnostus/nbproject/private/
/TEHTAVAT/Tiedonsiirtonopeudet/nbproject/private/
/TEHTAVAT/ToipuminenKyberhyokkayksesta/build/
/TEHTAVAT/ToipuminenKyberhyokkayksesta/nbproject/private/
/TEHTAVAT/Valmistumisajat/build/
/TEHTAVAT/Valmistumisajat/nbproject/private/